.studio {
    width: 100%;
    position: absolute;
}
#titre {
    text-align: center;
    position: relative;
    z-index: 999;
    margin-top: 25%;
}
h1 {
    color: white;
    font-family: Arial Black, Helvetica, sans-serif;
    font-size: 3em;
}

.textPresentation {
    margin-top: 5%;
    text-align: center;
    font-size: 1.5em;
}

.lesEvades,
.amityville,
.spider {
    display: flex;
    margin: 3% 25% 0 25%;
}

.photoFilm {
    width: 15%;
    margin-right: 2%;
}

div > a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.photoAmityville {
    margin: 0 0 0 2%;
}
