footer {
    margin-top: 2%;
}
.logo {
    width: 10%;
    margin-right: 0.5%;
}

.footer {
    background-color: #781717;
    display: flex;
}

.connecté {
    margin-left: 1%;
    padding-bottom: 0.5%;
    width: 33.3%;
}

.connecté > p {
    margin-left: 7%;
    margin-bottom: 5px;
    padding-top: 1%;
    color: white;
    font-size: 1.5em;
}

.carteLocalisation {
    width: 33.3%;
    height: 100px;
    margin-top: 1%;
}

.droits {
    color: white;
    width: 33.3%;
    font-size: 1.5em;
}
.droits > p {
    margin-top: 13%;
    margin-right: 2%;
    float: right;
}
