body {
    margin: 0;
}

#headerHaut {
    background-color: #781717;
}

#headerBas {
    display: flex;
    background-color: rgba(120, 23, 23, 0.84);
}
.dropdownmenu {
    display: flex;
}
#headerBas > a {
    padding: 1% 2% 1% 5%;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

#hollywood {
    width: 15%;
    padding-bottom: 1%;
}

#headerHaut > button {
    position: relative;
    float: right;
    margin: 3% 1% 0 0;
    border: none;
    padding: 0.2%;
    border-radius: 8px;
    background: #d34836;
    font: bold 13px Arial;
    color: #fff;
}

.dropdownmenu ul {
    display: none;
}

.dropdownmenu a {
    display: block;
}
.dropdownmenu li:hover ul {
    display: block;
    position: relative;
    margin: 10% 0 2% -15%;
    width: 100%;
}

ul,
li {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.dropdownmenu > li {
    margin: 0 5% 0 5%;
}
